

/* --- TABLETS (Pantallas menores de 1024px) --- */
@media (max-width: 1024px) {
  .ContenedorNav {
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
  }
}

/* --- MÓVILES (Pantallas menores de 768px) --- */
@media (max-width: 768px) {
  .ContenedorNav {
    flex-direction: column; 
    gap: 25px;
    text-align: center;
  }

  .ContendorIzquierda {
    flex-direction: column;
    gap: 15px;
  }

  .hp-session-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}