/* --- TABLETS --- */
@media (max-width: 1024px) {
  .footer-container {
  
    grid-template-columns: 1fr 1fr; 
    gap: 30px;
    padding: 40px 30px;
  }

  .divider-left {
  
    border-left: none; 
    padding-left: 0;
  }
}

/* --- MÓVILES --- */
@media (max-width: 768px) {
  .footer-container {
    
    grid-template-columns: 1fr; 
    gap: 35px;
    padding: 40px 20px;
    text-align: center; 
  }

  .brand-col, .footer-column, .contact-col {
  
    align-items: center; 
    text-align: center;
  }

  .social-links {
    
    justify-content: center; 
    padding-right: 0; 
  }

  .footer-list li {
    margin-bottom: 15px; 
  }

  .ImagenesIconos {
  
    width: 75px;
    height: 60px;
  }
}